<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p basicCss>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        incidunt!
      </p>
      <hr />
      <p appAdvancedCss [hoverColor]="'hotpink'">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut obcaecati
        voluptates atque illo eaque, vitae perferendis quis explicabo excepturi.
      </p>
      <hr />
      <span appApplycss>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta,
        repellat!
      </span>
      <p appOverOut>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
        nostrum suscipit ea porro corrupti blanditiis aliquid error eum totam
        quidem, necessitatibus incidunt modi perspiciatis magnam!
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-md-4">
        <label for="" >Account number<i class="fa fa-info-circle"  ></i></label>
        <input type="text" appApplycss class="form-control">
      </div>
      <div class="col-md-4">
        <label for="" >Aadhar Number<i class="fa fa-info-circle"></i></label>
        <input type="text" appApplycss class="form-control">
      </div>
      <div class="col-md-4">
        <!-- <label for="" >username <i class="fa f-info-circle"></i></label> -->
        <!-- [appAppMyTooltip]="kkk" -->
      </div>
    </div>
  </div>
</div>
<fa-icon [icon]="icon"></fa-icon>
